{% extends 'base.html' %}

{% load static %}

{% block title %}{{ product.name }}{% endblock title %}

{% block content %}

<div style="width: 800px; margin: 0 auto; display: flex;">
    <div class="card" style="margin-right: 10px;">
      <img src="{{ product.image.url }}" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{ product.name }}</h5>
        <p class="card-text">{{ product.desc }}</p>
        <a href="{% url "shop:product_detail" product_id=product.id %}" class="btn btn-primary">Подробнее</a>
      </div>
    </div>
</div>

{% endblock content %}
